@import url(https://fonts.googleapis.com/css2?family=Cairo&family=Cinzel+Decorative&family=Cinzel:wght@400;600&family=Michroma&family=Orbitron&family=Syncopate&family=Ubuntu:wght@300&family=Unica+One&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: rgb(41, 34, 34);
    font-family: 'Cairo', sans-serif;
    background-color: whitesmoke;
}

/* Header and logo styling */

header {
    height: 120px;
}

header a {
    text-decoration: none;
}

header a:link, a:visited {
    color: rgb(41, 34, 34);

}

#logo {
    font-family: 'Michroma', sans-serif;
    margin: 10px 0 0 10px;
    width: 50%;
    display: inline-block;
}

header > div {
    background-color: blue;
    width: 50%;
    height: 10px;
}

/* nav bar styling */

#menu {
    color: inherit;
    font-family: 'Michroma', sans-serif;
    font-size: 100%;
    float: right;
    height: 90px;
    line-height: 75px;
    margin: 10px 10px 10px 0;
}

#menu li {
    float: left;
    list-style-type: none;
    letter-spacing: 5px;
    padding: 10px;
}

#menu a:hover {
    border-bottom: 2px solid darkolivegreen;
}

.active {
    border-bottom: 1px solid rgb(29, 55, 34);
}

/* main body sections */

#action-quote {
    color: rgb(41, 34, 34);
    font-size: 110%;
    padding: 10px;
    margin: 15px;
}

#bridge-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#bridge-inner-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-luciann-3566191-resizev4.jpeg) no-repeat center center;
    animation-name: bridge-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom animation on main image */
@keyframes bridge-zoom {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
}

/* footer */

footer {
    height: 300px;
}

footer h3 {
    font-size: 20px;
    margin-top: 20px;
}

.social-media-links {
    text-align: center;
    display: inline-block;
    width: 50%;
    font-size: 80px;
    margin: 40px 0 60px 0;
}

.social-media-links i {
    color: rgb(41, 34, 34);
}

footer li {
    line-height: 75px;
    font-size: 50px;
    padding: 10px;
    color: rgb(41, 34, 34);
    list-style-type: none;
    display: inline;
}

.company-contact-info {
    float: right;
    width: 50%;
    color: rgb(41, 34, 34);
    font-size: small;
}

.address {
    float: left;
    padding: 15px 25px 0 0;
}

.googlemaps-frame {
    width: 50%;
    height: 250px;
    margin-top: 20px;
}

/* services.html styling */

#services-list {
    color: black;
    border-bottom: 1px solid black;
}

.service-type {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

#leftmost-service-type {
    margin-left: 20px;
}

#services-list h2 {
    padding: 15px;
}

#services-list h3 {
    padding: 15px;
    text-align: center;
}

#services-list article {
    font-size: medium;
}

#services-list i {
    font-size: 5rem;
    margin-left: 20px;
    padding-bottom: 5px;
}

/* pricing.html styling */

#pricing-information {
    color: black;
    margin-bottom: 30px;
}

#pricing-information h2 {
    padding: 5px 0 0 15px;
}

#pricing-information h4 {
    padding: 15px;
    margin-bottom: 20px;
}

table {
    padding-left: 15px;
}

th {
    font-weight: bolder;
    width: 15%;
    text-align: left;
    border-bottom: 2px solid black;
}

tr {
    font-weight: lighter;
}

aside {
    margin: 5px 0 15px 0;
}

/* contact.html styling */

#contactpage {
    margin: 15px 0 50px 15px;
    display: flex;
    align-items: flex-start;
}

#contact-form {
    margin-left: 5%;
    width: 45%;
}

#customerdetails {
    margin-top: 10px;
}

#projectinfo {
    margin-top: 40px;
}

#projectinfo textarea {
    margin: 15px 15px;
}

#contact-form button {
    background-color: blue;
    font-family: 'Michroma', sans-serif;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 200px;
}

#form-image {
    width: 50%;
    height: 400px;
    background-color: green;
    background-repeat: no-repeat;
}

#form-image img {
    width: 100%;
}

/* form submit redirect html page styling */

#thank-you-redirect-message {
    color: black;
}

/* Media Queries */

/* for large to medium screem of 1200px wide and down */

@media screen and (max-width: 1200px) {
    
#logo {
    width: 100%;
    font-size: 110%;
}

#menu {
    float: left;
    font-size: 90%;
}

header > div {
    background-color: blue;
    width: 50%;
    height: 10px;
}
}

/* for medium screen sizes of 950px and down */

/* for small screen sizes of 400px and smaller */

@media screen and (max-width: 400px) {
    
header {
    border: none;
    height: 100px;
}
#logo {
    width: 100%;
    height: 40px;
    font-size: 100%;
    border: none;
}

#menu {
    font-size: 45%;
    height: 40px;
    line-height: 20px;
    border: none;
    float: left;
}

header > div {
    width: 120%;
    height: 5px;
    clear: both;
}

#action-quote {
    font-size: 70%;
    padding: 10px 2px 0 2px;
    margin: 20px 10px 2px 10px;
    clear: both;
    border: none;
}

#bridge-outer {
    height: 180px;
}

#bridge-inner-image {
    height: 180px;
    background: url(../images/pexels-luciann-photography-3566191-400x150.jpg.jpeg) no-repeat center center;
}

footer {
    height: 150px;
}

footer h3 {
    font-size: 20px;
    clear: both;
    float: left;
}

.social-media-links {
    display: inline-block;
    width: 40%;
    color: rgb(41, 34, 34);
    font-size: 10px;
    margin: 10px 0 0 60px;
    border: none;
}

.social-media-links i {
    color: rgb(41, 34, 34);
}

footer li {
    line-height: 75px;
    font-size: 50px;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    color: rgb(41, 34, 34);
    list-style-type: none;
    display: inline;
}

.company-contact-info {
    float: right;
    width: 50%;
    color: rgb(41, 34, 34);
    font-size: small;
    border: 1px solid black;
}

.address {
    float: left;
    padding: 15px 25px 0 0;
}

.googlemaps-frame {
    width: 50%;
    height: 250px;
    margin-top: 20px;
}
}