@import url(https://fonts.googleapis.com/css2?family=Cairo&family=Cinzel+Decorative&family=Cinzel:wght@400;600&family=Michroma&family=Orbitron&family=Syncopate&family=Ubuntu:wght@300&family=Unica+One&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Cinzel Decorative', Arial, cursive;
}
