@import url(https://fonts.googleapis.com/css2?family=Cairo&family=Cinzel+Decorative&family=Cinzel:wght@400;600&family=Michroma&family=Orbitron&family=Syncopate&family=Ubuntu:wght@300&family=Unica+One&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: red;
    font-family: 'Cairo', sans-serif;
    background-color: whitesmoke;
}

/* Header and logo styling */

header {
    border: 1px solid black;
    height: 120px;
}

header a {
    text-decoration: none;
    color: rgb(41, 34, 34);
}

#logo {
    color: rgb(41, 34, 34);
    border: 1px solid black;
    font-family: 'Michroma', sans-serif;
    margin: 10px 0 0 10px;
    width: 50%;
    display: inline-block;
}

header > div {
    background-color: blue;
    width: 50%;
    height: 10px;
    
}

/* nav bar styling */

#menu {
    color: inherit;
    font-family: 'Michroma', sans-serif;
    font-size: 100%;
    float: right;
    height: 90px;
    line-height: 75px;
    margin: 10px 10px 10px 0;
    border: 1px solid black;
}

#menu li {
    float: left;
    list-style-type: none;
    letter-spacing: 5px;
    padding: 10px;
}

#menu a:hover {
    border-bottom: 2px solid darkolivegreen;
}

.active {
    border-bottom: 1px solid rgb(29, 55, 34);
}

/* main body sections */

#action-quote {
    color: rgb(41, 34, 34);
    font-size: 110%;
    padding: 10px;
    margin: 15px;
    border: 1px solid black;
}

#bridge-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#bridge-inner-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-luciann-photography-3566191.jpeg) no-repeat center center;
    animation-name: bridge-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
/* zoom animation on main image */
@keyframes bridge-zoom {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
}

#company-identity-summary {
    color: white;
    width: 50%;
    height: 200px;
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid black;
    background-color: rgba(130, 177, 238, 0.854);
    position: absolute;
}

/* footer */

footer {
    height: 150px;
}

footer h3 {
    font-size: 20px;
}

.social-media-links {
    text-align: center;
    display: inline-block;
    width: 40%;
    color: rgb(41, 34, 34);
    font-size: 80px;
    margin: 10px 0 0 60px;
    border: 1px solid black;
}

footer li {
    line-height: 75px;
    font-size: 50px;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    color: rgb(41, 34, 34);
    list-style-type: none;
    display: inline;
}

.company-contact-info {
    float: right;
    width: 50%;
    color: rgb(41, 34, 34);
    font-size: small;
    border: 1px solid black;
}

.address {
    float: left;
    padding: 15px 25px 0 0;
}

.googlemaps-frame {
    width: 50%;
    height: 250px;
    margin-top: 20px;
}