@import url(https://fonts.googleapis.com/css2?family=Cairo&family=Cinzel+Decorative&family=Cinzel:wght@400;600&family=Michroma&family=Orbitron&family=Syncopate&family=Ubuntu:wght@300&family=Unica+One&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header and logo styling */

body {
    color: rgb(12, 7, 7);
    font-family: 'Cairo', sans-serif;
}

#logo {
    color: rgb(41, 34, 34);
    font-family: 'Michroma', sans-serif;
    margin: 10px 0 0 30px;
}

#logo a {
    text-decoration: none;
}

#menu {
    color: rgb(41, 34, 34);
    font-size: 120%;
    float: right;
    margin-right: 5%
}

#menu li {
    float: left;
    list-style-type: none;
    letter-spacing: 5px;
    padding: 10px;
}

#menu a {
    text-decoration: none;
}